{% comment %}
Django'wy język szablonów działanie opiera na:
	- Znacznikach szablonów - kontrolują renderowanie szablonu i mają postać 
		{% znacznik %}
	- Zmiennych szablonu - Podczas renderowania zmienne szablonu są zastępowane wartościami. Wyglądają następująco: 
		{{ zmienna }}
	- Filtrach szablonów - pozwalają modyfikować zmienne do wyświetlania, np. 
		{{ zmienna|filtr }}

Wszystkie wbudowane znaczniki szablonów i filtry: 
	https://docs.djangoproject.com/en/2.0/ref/templates/builtins/. 
{% endcomment %}


{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{% static "css/blog.css" %}" rel="stylesheet">
	</head>
	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="sidebar">
			<h2>Mój blog</h2>
			<p>To jest mój blog. Dotychczas opublikowałem {% total_posts %} postów.</p>

			<h3>Najnowsze posty</h3>
			{% show_latest_posts 2 %}

			<h3>Najczęściej komentowane posty</h3>
			{% get_most_commented_posts 2 as most_commented_posts %}
			<ul>
				{% for post in most_commented_posts %}
					<li>
						<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>